body {
	background-attachment: fixed;
	background-image: url("https://cdn.wallpapersafari.com/63/57/hzbgqZ.jpg");
	background-color: #333;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	color: lime;
	font-family: 'Lucida-consola', monospace;
	margin: 0px;
	padding: 0px;
}

#header {
	background-color: rgba(0, 0, 0, 0.4);
	border: 1px solid lime;
	margin: 0px auto;
	padding-bottom: 5px;
	padding-top: 0px;
	text-align: center;
	width: 90%;

}

#header h1 {
	font-size: 200%;
}

#header h3 {
	color: #fff;
	font-style: italic;
}

.terminal_header {
	background-color: lightgray;
	color: black !important;
	display: inline-block;
	margin: 0px;
	padding: 5px 0px;
	width: 100%;
}

.terminal_buttons {
	display: inline-block;
	float: right;
}

#terminal {
	background-color: rgba(0, 0, 0, .85);
	border: 1px solid #fff;
	font-size: 14px;
	display:  block;
	margin: 40px auto;
	min-height: 400px;
	max-width: 600px;
	width: 60%;
}

h1 {
	font-size: 100%;
	font-weight: normal;
}

h3 {
	font-size:  100%;
	font-weight: normal;
}

.blink {
	animation: blinker 1s step-start infinite;
	color: #fff;
}	

#footer {
	background-color: rgba(0, 0, 0, 0.4);
	border: 1px solid lime;
	margin: 0px auto 1px;
	padding-top: 10px;
	text-align: center;
	width: 90%;
}

#footer a {
	color: #fff;
	text-decoration: none;
}

#footer h3 {
	font-style: italic;
}

@keyframes blinker {
50% {
opacity: 0;
}