@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');

body {
   background-image: url("https://images.unsplash.com/photo-1519758437711-f9ae52e78a95?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80");
   /* background-color: lightblue; */
   margin: 0 auto;
   text-align: center;
   height: 100vh;
   width: 100%;
}

h1 {
   color: rgb(12, 19, 77);
   font-family: 'Electrolize', sans-serif;
   font-size: 4.5rem;
   font-weight: 900;
   text-shadow: 0 0 15px lime;
}

canvas {
   border: 2px solid black;
   border-radius: 20px;
   box-shadow: 0 0 300px rgb(145, 173, 145);
   background-color: #87ceeb;
   margin-top: -20px;
}

.button {
   border: 2px solid black;
   border-radius: 50px;
   box-shadow: 0 0 50px rgb(118, 158, 118);
   font-family: 'Electrolize', sans-serif;
   font-size: 1.25rem;
   margin-bottom: 20px;
   margin-right: 20px;
   margin-top: 20px;
   padding: 20px;
   width: 120px;
}

#jump {
   background-color: limegreen;
   color: navy;
}

#jump:hover {
   cursor: pointer;
   background-color: lime;
   color: royalblue;
}

#restart {
   background-color: lightgray;
   border: 2px solid darkgray;
   color: darkgray;
}